{% extends "base.html" %}

{% block title %}FastAPI Starter{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<!-- {% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        {{data.text|safe}}
    </div>
</main><!-- /.container -->
<div class="container">
    <h1>My First Bootstrap Page</h1>
    <p>This part is inside a .container class.</p> 
    <img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400">
    <p>The .container class provides a responsive fixed width container.</p>
    <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.The .
        container class provides a responsive fixed width container.</p>
  </div>
  
<h2 align="center">东海宽客</h2>
<center><img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400"></center>
<li></li>
<p>白宫会议</p>
<h1 align="center">东海宽客</h1>

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}