{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        {{data.text|safe}}
    </div>
</main> 
<div class="container"> 
    <h1>Pioneers Linking Math and Computer Science Win the Abel Prize</h1>
    <p>When Avi Wigderson and László Lovász began their careers in the 1970s, theoretical computer science and pure mathematics were almost entirely separate disciplines. Today, they’ve grown so close it’s hard to find the line between them. For their many fundamental contributions to both fields, and for their work drawing them together, today Lovász and Wigderson were awarded the Abel Prize, an honor given out by the Norwegian Academy of Science and Letters and regarded as one of the highest honors in mathematics.

        “In many ways their work is complementary. Avi is on the computer science side and Lovász is on the mathematics side, but a lot of the issues they work on are related,” said Russell Impagliazzo, a computer scientist at the University of California, San Diego who has collaborated with both researchers.
        
        The opportunity for this pairing to occur at all was a result of the unique period in scientific history in which they both grew up.
        
        Wigderson was born in Haifa, Israel, in 1956. By the time he was a teenager, computer scientists were just beginning to sketch a basic theoretical framework that would end up absorbing much of his professional life. That framework, called complexity theory, involves classifying computational problems based on how hard they are for algorithms to solve. The primary measure of difficulty is the number of computational steps, with the most basic distinction being “easy” versus “hard.”</p> 
     <img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400">
    <p>The .container class provides a responsive fixed width container.</p>
    <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.The .
        container class provides a responsive fixed width container.</p>
  </div>
  
<!-- <h2 align="center">东海宽客</h2>
<center><img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400"></center>
<li></li>
<p>白宫会议</p>
<h1 align="center">东海宽客</h1> -->

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}