{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        {{data.text|safe}}
    </div>
</main> 
<div class="container"> 
    <h1>Pioneers Linking Math and Computer Science Win the Abel Prize. end</h1>
    <p>When Avi Wigderson and László Lovász began their careers in the 1970s, 
        theoretical computer science and pure mathematics were almost entirely separate disciplines. 
        Today, they’ve grown so close it’s hard to find the line between them. 
        For their many fundamental contributions to both fields, and for their work drawing them together, 
        today Lovász and Wigderson were awarded the Abel Prize, an honor given out by the Norwegian
         Academy of Science and Letters and regarded as one of the highest honors in mathematics.

        “In many ways their work is complementary. Avi is on the computer science side and Lovász
         is on the mathematics side, but a lot of the issues they work on are related,” 
         said Russell Impagliazzo, a computer scientist at the University of California, 
         San Diego who has collaborated with both researchers.<a style="color:blue" href="./page/about">..阅读全文</a>> </p> 
    <center>
        <img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="800" height="600">
    </center>

    <p>The .container class provides a responsive fixed width container.</p>
    <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.The .
        container class provides a responsive fixed width container.</p>
  </div> -->
  
<!-- <h2 align="center">东海宽客</h2>
<center><img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400"></center>
<li></li>
<p>白宫会议</p>
<h1 align="center">东海宽客</h1>

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}