{% extends "base.html" %}
{% set active_page = "unsplash" %}

{% block title %}Unsplash Finder{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h3 class="cap">美景图片</h3>

<!-- <img class="responsive" src="{{ url_for('static', path='./images/Biden.JPG') }}" width="400" height="400">
<p>Source</p> -->

<img class="responsive" src="https://source.unsplash.com/960x800/?flower" width="400" height="400">
<p>Source</p>

<img class="responsive" src="https://source.unsplash.com/collection/827743/400x400" width="400" height="400">
<p>Source</p>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}